body {
  font-family: Gotham-light, sans-serif;
  color: #d5cbcb94;
  background:#1e1e1e;
}

h1 {
  font-family: Gotham-light, sans-serif;
  font-weight: lighter;
  font-size: 70px;  
  color: #ffffff;
}

h2 {
  font-family: Gotham-light, sans-serif;
  font-weight: lighter;
  font-size: 50px;
  color: #ffffffcb;
}

h3 {
  
}

.profilePicture {
  margin-bottom: 30px;
}

.interests {
  font-size:large;
  font-weight: bold;
}
